{
  "presets": ["e:/Program Files/Mendix/9.18.1.54902/modeler/tools/node/node_modules/metro-react-native-babel-preset"],
  "plugins": [
    [
      "e:/Program Files/Mendix/9.18.1.54902/modeler/tools/node/node_modules/babel-plugin-inline-import",
      {
        "extensions": [".svg"]
      }
    ]
  ]
}